<ion-content>
  <div class="top-background">
    <img src="/assets/images/logo.png"  loading="lazy" />
    
  </div>

  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Welcome to Shopping cart</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="button-container">

          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input id="emailInput" type="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" >Password</ion-label>
            <ion-input id="passwordInput" type="password"></ion-input>
          </ion-item>

          <ion-button routerLink="menu" routerDirection="root"  strong shape="round">
            Log in
          </ion-button>
          
        </div>

       
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
