<ion-content>


  <ion-grid>
    <ion-row>
      <ion-col>
        <div >
          <h3>text-start</h3>
          text-start  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div >
          <h3>text-end</h3>
          text-end Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div >
          <h3>text-center</h3>
          text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-justify">
          <h3>text-justify</h3>
          justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-wrap">
          <h3>text-wrap</h3>
          text-wrap Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-nowrap">
          <h3>text-nowrap</h3>
          nowrap   Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
  

    <ion-row class="ion-justify-content-start">
      <ion-col size="3">
        <div>
          1 of 2
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          2 of 2
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="3">
        <div>
          1 of 2
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          2 of 2
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-end">
      <ion-col size="3">
        <div>
          1 of 2
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          2 of 2
        </div>
      </ion-col>
    </ion-row>


    <ion-row class="ion-align-items-stretch">
      <ion-col>
        <div>
          1 of 4
        </div>
      </ion-col>
      <ion-col>
        <div style="background-color: black;">
          2 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          3 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          4 of 4 <br>
          # <br>
          # <br>
          #
        </div>
      </ion-col>
    </ion-row>

</ion-grid>


</ion-content>
